.filter-section {
  width: 232px;
  min-height: 252px;
  padding: 20px 0;
  margin-right: 5px;
}

.filter__title {
  font-size: 12px;
  line-height: 12px;
  text-transform: uppercase;
  margin-bottom: 20px;
  margin-left: 20px;
}