@import './../../../styles/variables';

.table-data {
  width: 141px;
  margin-right: 9px;
  display: inline-flex;
  flex-direction: column;
  font-family: $fontFamily;
}

.table-data__title {
  font-size: 12px;
  line-height: 18px;
  color: #A0B0B9;
  text-transform: uppercase;
}

.table-data__value {
  font-size: 14px;
  line-height: 21px;
  color: #4A4A4A;
}